[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/time-wrapped-fusion"]
	path = lib/time-wrapped-fusion
	url = https://github.com/paddyc1/time-wrapped-fusion
